html{
    font-family: 'Roboto', sans-serif;
    margin:  0;
}
.body{
    margin:  0 auto;
    max-width: 1280px;
}
.title_container{
    height: 80px;
    width: 335px;
}
.title {
    font-weight: 400;
    font-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 63px;
}
.title_color{
    color: #4BCAFF;
}
.navig_first{
    margin-top: 36px;
}
.navbar_top{
    display: flex;
    padding: 0;
}
.element_nav_top{
    height: 72px;
    padding-top: 22px;
    list-style: none;
    border: 1px solid;
    background-color: #35444F;
    color: #FFFFFF;
    box-sizing: border-box;
}
.blank_first{
    width: 162px;
}
.blank_first:hover{
    content: " " ;
    background-color: #222F3A;
    transition: 0.5s;
}
.fun_programing{
    width: 331px;
    font-size: 24px;
    padding-left: 15px;
}
.fun_programing:hover{
    content: " ";
    background-color: #222F3A;
    transition: 0.5s;
}
.ramda_nav{
    width: 153px;
}
.ramda_nav:hover{
    content: " ";
    background-color: #222F3A;
    transition: 0.5s;
}
.ramda_nav_span{
    font-size: 24px;
    padding-left: 36px;
    font-weight: 400;
}
.fantasy_land{
    width: 284px;
    padding-left: 20px;
    font-size: 24px;
}
.fantasy_land:hover{
    content: " ";
    background-color: #222F3A;
    transition: 0.5s;
}
.node_js{
    width: 221px;
}
.node_js:hover{
    content: " ";
    background-color: #222F3A;
    transition: 0.5s;
}
.node_js_span{
    font-size: 24px;
    padding-left: 40px;
}
.blank_end{
    width: 133px;
}
.blank_end:hover{
    content: " ";
    background-color: #222F3A;
    transition: 0.5s;
}
.nav_container{
    width: 300px;

}
.navbar_left{
    color: #495863;
    font-size: 27px;
    padding-top: 26px;
    display: flex;
    list-style: none;
    flex-direction: column;
    border: 1px solid black;
    margin-right: 0;
}
.element_nav_left{
    width:342px ;
    height: 81px;
}
.element_nav_left:hover{
    content: " ";
    position: relative;
    left: 20px;
    color: black;
    transition: 0.5s;
}
main{
    height: 500px;
}
.image{
    max-height: 380px;
    width: 320px;
    padding-left: 297px;
    padding-top: 75px;
}
.photo_container{
    border: 1px solid black;
    width: 885px;
    height: 530px;
    position: relative;
    left:393px;
    bottom: 460px;
}
.text_container{
    position: relative;
    width: 885px;
    height: 300px;
    margin-left:393px;
    bottom: 400px;
}
.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

}
.text_bottom{
    padding-top: 34px;
}
.footer_section{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 28px;
    font-weight: 400;
    border: 1px solid black;
    height: 69px;
    background-color: #63696E7A;

}
.bottom_list_element{
    padding-top: 20px;
}
.underlined_element_bottom:hover{
    content: none;
    color: #3181A6 ;
    text-decoration: underline;
    transition: 0.5s;
}
.unique_element{
    font-size: 24px;
    font-weight: 400;
    padding-top: 22px;
    padding-left: 135px;
}
